@media only screen and (max-width: 600px) {
	/*about*/
	.about {
		padding: 60px 0;
	}
	.about .about-info {
		padding: 0 1rem;
	}
	.about .about-info .about-btn .btn {
		padding: 11px 25px 11px 25px;
	}
	.about .about-img img {
		height: 82px;
		width: 100px;
	}
	.about .about-info .section-heading-lg {
		font-size: 50px;
		margin-top: 2rem;
	}

	/*Helpline*/
	.helpline {
		padding: 25px 0 50px 0;
	}
	.helpline .helpline-content .helpline-heading h2{
		font-size: 3rem;
	}
	/*Appointment*/
	.appointment .appointment-content .appointment-info {
		padding: 30px 20px;
	}
	.appointment .form-btn .btn {
		font-size: 10px;
		padding: 10px 12px;
	}
	.subscibe .subscibe-content {
		width: 99%;
	}

	.slider .text {
		width: 100%;
		padding: 0 20px;
		top: 30px;
	}

	.slider .text h2 {
		font-size: 30px;
	}
	.slider .text .slider-alert {
		font-size: 14px;
	}

	.slider .text .slider-alert p {
		font-size: 16px;
	}

	.slider .slider-btn {
		margin-top: 1rem;
	}
	.slider .slider-btn .btn {
		font-size: 5px;
		padding: 10px;
	}
	.doting {
		bottom: 5px;
	}
	.dot {
	    height: 10px;
	    width: 10px;
	}
	.contact .contact-bg {
		display: none;
	}
.map .timetable  {
	width: 100%;
}

.map .timetable-display {
	display: none;
}

.map .section-heading-lg {
	font-size: 20px;
	color: var(--danger-color);
}

.map .table-body {
	text-align: center;
	margin-top: 10px;
}

.map .table-body .table-address p {
	font-size: 8px;
	margin-top: 5px;
}

.map .phone,
.map .email {
	color: var(--danger-color);
}

.map .table-body ul li a {
	font-size: 14px;
	color: #000000;
}
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
	.compare .compare-content {
		margin-left: 6%;
    }
	.slider .text {
		width: 100%;
		padding: 0 40px;
		top: 20%;
	}

	.slider .text h2 {
		font-size: 45px;
	}
	.slider .text .slider-alert {
		font-size: 14px;
	}

	.slider .text .slider-alert p {
		font-size: 25px;
	}

	.slider .slider-btn {
		margin-top: 3rem;
	}
	.slider .slider-btn .btn {
		font-size: 13px;
		padding: 14px 16px;
	}
	.doting {
		bottom: 5px;
	}
	.dot {
	    height: 10px;
	    width: 10px;
	}
}

@media only screen and (min-width: 992px) {
	.compare .compare-content {
		margin-left: 17%;
    }
 	.slider .text {
		width: 100%;
		padding: 0 40px;
		top: 30%;
	}

	.slider .text h2 {
		font-size: 82px;
	}
	.slider .text .slider-alert {
		font-size: 14px;
		margin-top: 1rem;
	}

	.slider .text .slider-alert p {
		font-size: 25px;
	}

	.slider .slider-btn {
		margin-top: 5rem;
	}
	.slider .slider-btn .btn {
		font-size: 12px;
		padding: 21px 50px 21px 50px;
	}
	.doting {
		bottom: 5px;
	}
	.dot {
	    height: 10px;
	    width: 10px;
	}
}

@media only screen and (min-width: 1200px) {
	.compare .compare-content {
		margin-left: 22%;
	}
}